body {
    font-family: 'Atkinson Hyperlegible';
    text-align: center;
    margin: 0;
    font-size: larger;
}


h1 {
    font-size: 40px;
    background-color: lightgrey;
}

h2 {
    background-color: #e3e3e3;
}

h3 {
    background-color: #dfdfdf;
}