body{
    font-family: Calibri;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: black 0.5em solid;
    width: 75%;
}

.fullcontainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 0.5em solid;
    width: 100%;
}

.review-card{
    width: 40em;
    border: black 0.5em solid;
    margin: 1em;
    padding: 0.3em;
}

#placeButton{
    position: fixed;
    top: 50%;
    right: 2.5em;
    width: 9em;
    height: 1em;
    text-rendering: auto;
    color: white;
    background-color: black;
    border: white solid 1em;
    padding: 1em;
}

#placeButton:hover {
    position: fixed;
    top: 50%;
    right: 2.5em;
    width: 9em;
    height: 1em;
    padding: 1em;
    text-rendering: auto;
    color: black;
    background-color: white;
    border: black solid 1em;
}

.review-card h2{
font-size: 1.6em;
}
.review-card h3{
    font-size: 1.5em;
}

.review-card p{
    font-size: 1.3em;
}

.formrule{
    font-family: Calibri;
    font-size: 1.3em;
    margin-bottom: 3em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    width: 75%;
    position: relative;
    left: 12.5%;
}
#story{
    border: black 0.4em solid;
    font-family: Calibri;
    font-size: 1.3em;
}

.submitbutton{
    margin-top: 10vh;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.formrule input{
    border: black 0.4em solid;
    font-family: Calibri;
    font-size: 1.3em;
}

.formrule #submitB{
    background-color: orange;
}